<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCalendarsUsageDescription</key>
	<string>iOS標準カレンダーとの連携を行い、本アプリからカレンダーの閲覧、登録を実現するため</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>iOS標準カレンダーとの連携を行い、本アプリからカレンダーの閲覧、登録を実現するため</string>
</dict>
</plist>
